.plugins-frame_wrapper {
    height: 100%;
    width: 100%;
    display: flex;
}

.react-grid-layout {
    height: 100% !important;
    width: 100% !important;
}

.layout {
    width: 100% !important;
    height: 100% !important;
}

.frame-component_wrapper{
    border: 1px solid black;
}