.plugins-frame__wrapper{
}

.plugins-frame__btn{
    position: fixed;
    top: 0;
    right: 0;
}

.plugins-frame__menu{
    background-color: rgb(76, 165, 76) !important;
}

.plugins-frame__components{
    margin: 20px 0;
    min-width: 100px !important;
    min-height: 100px !important;
    border-radius: 12px !important;
    box-shadow:rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px !important;
}