.plugins-frame__btn{
    position: fixed;
    top: 0;
    right: 0;
}

.plugins-frame__menu{
    background-color: rgb(76, 165, 76) !important;
}

.plugins-frame__components{
    margin: 20px 0;
    min-width: 100px !important;
    min-height: 100px !important;
    border-radius: 12px !important;
}

.slick-track{
    display: flex !important;
    gap: 10px !important;
}